@font-face {
    font-family: 'REEJI-BigYoung';
    src: url('fonts/REEJI-BigYoung-BoldGB20.eot');
    src: url('fonts/REEJI-BigYoung-BoldGB20.eot?#iefix') format('embedded-opentype'),
    url('fonts/REEJI-BigYoung-BoldGB20.woff2') format('woff2'),
    url('fonts/REEJI-BigYoung-BoldGB20.woff') format('woff'),
    url('fonts/REEJI-BigYoung-BoldGB20.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Bold.eot');
    src: url('fonts/Orbitron-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Orbitron-Bold.woff2') format('woff2'),
    url('fonts/Orbitron-Bold.woff') format('woff'),
    url('fonts/Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Regular.eot');
    src: url('fonts/Orbitron-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Orbitron-Regular.woff2') format('woff2'),
    url('fonts/Orbitron-Regular.woff') format('woff'),
    url('fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Medium.eot');
    src: url('fonts/Orbitron-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Orbitron-Medium.woff2') format('woff2'),
    url('fonts/Orbitron-Medium.woff') format('woff'),
    url('fonts/Orbitron-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Black.eot');
    src: url('fonts/Orbitron-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Orbitron-Black.woff2') format('woff2'),
    url('fonts/Orbitron-Black.woff') format('woff'),
    url('fonts/Orbitron-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}