@import '../utility/color';
@import "../utility/font";
@import "../utility/util";
@import '../utility/cornershape';
@import "../components/text";

@ss-button-padding: 3px;


.ss-button {
  #common {
    position: relative;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    .ss-transition-standard();
    .ss-font-ui();
    .ss-text-shadow();

    font-size: 1rem;

    font-weight: 600;
    background: @ss-color-darkcyan;
    color: @ss-color-lightcyan;
    border: 0;
    padding-left: 0.7em;
    padding-right: 0.7em;
    outline: none;

    &:hover {
      color: @ss-color-white;
      filter: brightness(150%);
      outline: none;
    }

    &:active {
      .ss-transition-fast();
      color: @ss-color-white;
      filter: brightness(200%);
      outline: none;
    }
  }

  #size-big {
    font-size: 1.5rem;
  }

  #size-small {
    font-size: 0.75rem;
  }

  #shape-normal {
    .ss-cornershape-bevel();
  }

  #shape-tab {
    .ss-cornershape-bevel(@ss-cornershape-radius, @ss-cornershape-radius, 0px, 0px);
  }

  #shape-diagonal {
    .ss-cornershape-bevel(@ss-cornershape-radius, 0px, @ss-cornershape-radius, 0px);
  }

  &-menu {
    #common();
    #shape-diagonal();

    &-big {
      #common();
      #shape-diagonal();
      #size-big();
    }

    &-small {
      #common();
      #shape-diagonal();
      #size-small();
    }
  }

  &-tab {
    #common();
    #shape-tab();

    &-big {
      #common();
      #shape-diagonal();
      #size-big();
    }

    &-small {
      #common();
      #shape-diagonal();
      #size-small();
    }
  }

  &-regular {
    #common();
    #shape-normal();

    &-big {
      #common();
      #shape-normal();
      #size-big();
    }

    &-small {
      #common();
      #shape-normal();
      #size-small();
    }
  }
}
