@import "../utility/color";
@import "../utility/font";
@import "../utility/util";
@import "../components/text";


table.ss-table-codex {
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  .ss-font-text();
  overflow: auto;

  border-collapse: separate;
  border-spacing: 0.2em 0;

  & td, th {
    padding: 0.1em 0.5em 0.1em 0.5em;
  }

  & th {
    .ss-font-ui();
    .ss-text-shadow();
    text-align: center;
    font-weight: 600;
    background: @ss-color-darkcyan;
    color: @ss-color-lightcyan;
  }
}
